.basictxt {
  display: block;
  padding: 6px 0px;
  width: 100%;
  color: #555;
  font-size: 1.2em;
  border: 1px solid #ccc;
  font-family: Helvetica, Arial, sans-serif;
}

.selectize-control {  }

.formrow {
  width:450px;
  padding-bottom: 4px;
}

.form-elem {
  padding-top:8px;
  padding-bottom:8px;
}
