.basictxt {
  display: block;
  padding: 6px 0px;
  width: 100%;
  color: #555;
  font-size: 1.2em;
  border: 1px solid #ccc;
  font-family: Helvetica, Arial, sans-serif;
}

.form-elem {
  padding:8px 0px;
}

.auth-example {
  margin-left: 20px;
}

.auth-example p {
  display: inline;
  font-family: Courier, Monaco, monospace;
}
