<div class="tabs">
  <ul>
    <li><a href="<%= responsibility_list_path %>" class="<%= action_name == 'index' ? 'selected' : nil %>" id="tab-list">Responsibility list</a></li>
    <li><a href="<%= membership_list_path %>" class="<%= action_name == 'membership_list' ? 'selected' : nil %>" id="tab-memberships">Memberships</a></li>
  </ul>
</div>
